// space
$space-quarter-x: 2px;
$space-half-x: 4px;
$space-three-quarter-x: 6px;
$space-1-x: 8px;
$space-1-and-a-half-x: 12px;
$space-2-x: 16px;
$space-2-and-a-half-x: 20px;
$space-3-x: 24px;
$space-3-and-a-half-x: 28px;
$space-4-x: 32px;
$space-5-x: 40px;
$space-6-x: 48px;
$space-7-x: 56px;
$space-8-x: 64px;

// font size
$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-xlarge: 18px;

// font weight
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-light: light;

// shadow
$box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);

//colors
$blue: #0077cf;
$dark-blue: #005ba1;
$grey: #808080;
